* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #1f2d3d;
}

/* Reset Css */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.fill-button {
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #3030c4;
  color: #fff;
}

.fill-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

img {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.arrow-image {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

/* Header Section */
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.header {
  background-color: #fdded8;
  text-align: center;
}

.header-title {
  margin-bottom: 60px;
  font-size: 32px;
}

.header-desc {
  font-size: 12px;
  margin-bottom: 20px;
}

/* Add-clothing Section */
.add-clothing {
  background-color: #f4f5f7;
  padding: 80px 0;
}

.add-clothing-upload-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.file-box {
  margin-bottom: 3px;
}

.file-box label {
  /* display: block; */
  padding: 8px 20px;
  color: #3030c4;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.file-box input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.file-box .cloth-upload-name {
  /* display: block; */
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #fff;
}

.recommand-section-span,
.add-clothing-upload-span {
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #666;
}

.add-clothing-upload-button {
  margin-bottom: 50px;
}

.add-clothing-box-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.add-clothing-box-content {
  display: flex;
  align-items: center;
}

.add-clothing-box-content-image {
  margin-bottom: 7px;
}

.add-clothing-box-content-buttons {
  display: flex;
  justify-content: space-around;
}

.add-clothing-box-button {
  background-color: #fff;
  color: #3030c4;
}

.delete-button {
  background-color: #3030c4;
}

/* 옷장 이미지 slide 구현 */
.slide-wrap {
  position: relative;
  width: 220px;
  margin: auto;
}

.slide-box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide-content {
  display: table;
  float: left;
  width: 220px;
}

#arrow-image-left {
  position: absolute;
  top: 40%;
  left: -40px;
}

#arrow-image-right {
  position: absolute;
  top: 40%;
  right: -40px;
}

#arrow-image-left:hover,
#arrow-image-right:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* recommand section */
.recommand-section {
  padding: 80px 0;
}

.recommand-section-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.recommand-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  margin-bottom: 15px;
}

.recommand-card strong {
  transition: color 300ms ease-in-out;
}

.recommand-card:hover {
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.recommand-card:hover strong {
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
  color: #fff;
}

.recommand-card img {
  display: block;
  width: auto;
  /* heigh */
  margin: 0 auto 16px;
}

.recommand-card strong {
  color: #666;
}
/* >= 768 (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset Css */

  /* Header section */
  .header-content {
    height: auto;
    padding: 120px 0;
  }

  .header-title {
    font-size: 70px;
    margin-bottom: 90px;
  }

  .header-desc {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
  }

  .header-button {
    font-size: 22px;
    padding: 15px 30px;
  }

  /* add-clothing section*/
  .add-clothing-upload-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .add-clothing-upload-span {
    margin-bottom: 20px;
  }

  .add-clothing-box-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .add-clothing-box-content-item {
    display: flex;
  }

  .add-clothing-box-content-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
    margin-left: 10px;
  }

  .add-clothing-box-button {
    margin-bottom: 10px;
  }

  /* 옷장 이미지 slide 구현 */
  .slide-wrap {
    width: 330px;
  }

  .slide-content {
    width: 330px;
  }

  /* recommand-section */
  .recommand-section-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .recommand-section-span,
  .add-clothing-upload-span {
    font-size: 13px;
  }
}
